{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
   <h1>Toutes les categories :</h1>
   {% for category in categories %}
      <div>
         <h2>{{ loop.index }} - Catégorie: {{ category.name }}</h2>
        <a class="tertiary" href="{{ path("category_show", { categoryName: category.name }) }}">Voir les series {{ category.name}}</a>
      </div>
   {% else %}
      aucune catégorie trouvée.
   {% endfor %}

   <a class="tertiary" href="{{ path('app_index') }}">
      Retour à l'accueil
   </a>
{% endblock %}